.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.bloque-texto-b.color-secundario:before 
  background-color: #D0FFF1

.BorTit
  border-left: 5px solid $color-acento-botones
  padding: 6px 0px 6px 10px
  margin-top: 6px

.tarjeta-numerada__numero
  left: 140px
  top: -31px

.tarjeta-numerada.color-secundario .tarjeta-numerada__numero 
  background-color: #607B82

.bg_01
  background-color: #95EBD1

.bg_02
  background-color: #26CB99

.bg_03
  background-color: #E0FFF6
  border-radius: 15px

.bg_04
  background-color: #D0FFF1
  border-radius: 15px

.txt_01
  color: #26CB99

.lista-ul--color li > i:first-of-type
  color: #26CB99

.slyder-a__bullets
  bottom: 0px !important




